body {
    width: 100%;

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

article {
    border: 1px solid black;
    width: 80%;
    margin: 2%;
    padding: 3%;
}
